/*****************HEADER*****************/
$header-height: 4rem;
/*****************COLORS*****************/
$primary-color: #4caf50;
$secondary-color: #0064f9;
$error-color: #d32f2f;
$background-color: #f0f2f5;
$foreground-color: #fff;
/*****************SPACING*****************/
$small-gap: 1rem;
$regular-gap: 1.5rem;
$large-gap: 2rem;
$largest-gap: 6.875rem;
/*****************SHADOWS*****************/
$primary-shadow: 0 0 2px 2px rgb(0 0 0 / 10%);

:export {
  primary: $primary-color;
  secondary: $secondary-color;
  error: $error-color;
  background: $background-color;
  foreground: $foreground-color;
  primaryShadow: $primary-shadow;
}
