@use '../../assets/scss/variables' as vars;

.footer {
  padding-block: vars.$large-gap;
  text-align: center;
  box-shadow: vars.$primary-shadow;

  &__contact {
    padding-block: vars.$large-gap;
    margin-block: vars.$large-gap;
    border-top: 1px solid vars.$foreground-color;
    border-bottom: 1px solid vars.$foreground-color;

    &-item:not(:first-of-type) {
      margin-top: vars.$small-gap;
    }
  }

  &__link:hover {
    color: vars.$primary-color;
  }
}
