@use '../../assets/scss/variables' as vars;

.not-found {
  height: 100vh;
  background-color: vars.$primary-color;

  &__content {
    text-align: center;
    color: vars.$foreground-color;
  }

  &__code {
    font-size: 6rem;
    font-weight: 600;
    line-height: 1;
  }

  &__error {
    margin-block: vars.$small-gap;
    font-size: 2rem;
  }

  &__message {
    font-size: 1.5rem;
    line-height: 2;
  }
}
